@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: .75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;


@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url, false, false);
  }
  @else  {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else  {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  outline: none!important;
  &:focus {
    outline: none;
  }

  .slick-loading & {
    //background: #fff url("../js/lib/slick-1.5.9/slick/ajax-loader.gif") center center no-repeat;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  outline: none!important;
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none!important;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  @include center(y);
  width: 80px;
  height: 80px;
  display: block;
  background: black;
  font-size: 0 !important;
  cursor: pointer;
  color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  overflow: hidden;
  text-align: center;
  line-height: 0;
  z-index: 10;
  border-radius: 50%;
  transition: all 0.1s ease 0s;
  @extend %vertical;
  opacity: 1;
  border: 1px solid rgba(#fff,0.6);
  background-color: rgba(#022449,0.6);
  box-shadow: 0 0 29px rgba(0, 0, 0, 0.31);
  > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    line-height: 1;
    text-align: center;
    color: rgba(#fff,0.7);
    transition: all 0.1s ease 0s;
  }
  &:hover {
    outline: none;
    color: #022449;
    background-color: rgba(#fff,0.5);
    border-color: rgba(#022449,0.5);
    > span {
      color: #022449;
    }
  }
  &:focus {
    color: rgba(#fff,0.7);
    border: 1px solid rgba(#fff,0.6);
    background-color: rgba(#022449,0.6);
    > span {
      color: rgba(#fff,0.7);
    }
    &:hover {
      color: #022449;
      background-color: rgba(#fff,0.5);
      border-color: rgba(#022449,0.5);
      > span {
        color: #022449;
      }
    }

  }
  &.slick-disabled {
    display: none!important;
    &:hover {
      background: rgba(#000,0.7);
      > span {
        color: #fff;
      }
    }
  }
}
.slick-next {
  right: 0;
  > span {
    text-indent: 3px;
  }
}
.slick-prev {
  left: 0;
  > span {
    text-indent: -2px;
  }
}

.violet-arrows {
  .slick-prev,
  .slick-next {
    width: 76px;
    height: 76px;
    border: none;
    overflow: visible;
    opacity: 0.7;
    box-shadow: 0 0 29px rgba(235, 2, 185, 0.31);
    @media #{$medium-mobile} {
      width: 56px;
      height: 56px;
    }
    &:hover {
      .box {
        background-color: rgba(#09163e,0);
      }
      .help {
        color: #fff;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      z-index: 1;
      border-radius: 50%;
      background: rgba(169,0,254,1);
      background: -moz-linear-gradient(top, rgba(169,0,254,1) 0%, rgba(254,0,195,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,0,254,1)), color-stop(100%, rgba(254,0,195,1)));
      background: -webkit-linear-gradient(top, rgba(169,0,254,1) 0%, rgba(254,0,195,1) 100%);
      background: -o-linear-gradient(top, rgba(169,0,254,1) 0%, rgba(254,0,195,1) 100%);
      background: -ms-linear-gradient(top, rgba(169,0,254,1) 0%, rgba(254,0,195,1) 100%);
      background: linear-gradient(to bottom, rgba(169,0,254,1) 0%, rgba(254,0,195,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a900fe', endColorstr='#fe00c3', GradientType=0 );
    }
    .box {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      border-radius: 50%;
      background-color: rgba(#09163e,1);
      @extend %vertical;
    }
    .help {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      font-size: 26px;
      font-weight: 400;
      line-height: 1;
      color: #a900fe;
      @media #{$medium-mobile} {
        font-size: 22px;
      }
      @media #{$small-only} {
        font-size: 16px;
      }
    }
  }
  &.slick-vertical {
    .slick-next {
      .help {
        padding-top: 2px;
      }
    }
  }
}

.arrows-top-right {
  .slick-next {
    top: 52px;
    right: 0;
    transform: translateY(0);
    span {
      //text-indent: 3px;
    }
  }
  .slick-prev {
    left: inherit;
    right: 0;
    top: 0;
    transform: translateY(0);
    span {
      //text-indent: -2px;
    }
  }
}

.slick-vertical {
  .slick-prev,
  .slick-next {
    @include center(x);
    &:hover {}
    span {
      text-indent: 0;
    }
  }
  .slick-next {
    bottom: 2px;
    top: initial;
    @media only screen and (max-width: 920px) {
      bottom: 0;
    }
  }
  .slick-prev {
    top: 2px;
    @media only screen and (max-width: 920px) {
      top: 0;
    }
  }
}
.slick-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  text-align: center;
  font-size: 0;
  z-index: 2;
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    button {
      position: relative;
      padding: 0;
      font-size: 0;
      outline: none;
      cursor: pointer;
      width: 8px;
      height: 8px;
      margin: 0;
      background: #0fa8e4;
      border: 1px solid #fff;
      transition: all 0.1s ease 0s;
      opacity: .4;
      border-radius: 50%;
      &:hover {
        opacity: 1;
        background-color: #0fa8e4;
        border-color: #0fa8e4;
      }
    }
    &.slick-active {
      button {
        opacity: 1;
        background-color: #0fa8e4;
        border-color: #0fa8e4;
        box-shadow: 0 0 8px rgba(96, 207, 251, 0.54);
        transform: scale(1.2);
      }
    }
  }
}
.slick-slider {
  margin-bottom: 0;
}
