$icomoon-font-path: "fonts" !default;

$icon-help: "\e90d";
$icon-promo-1: "\e91c";
$icon-arrow-link-down: "\e919";
$icon-arrow-link-left: "\e91a";
$icon-arrow-link-up: "\e91b";
$icon-play: "\e916";
$icon-arrow-down: "\e917";
$icon-arrow-up: "\e918";
$icon-vk: "\e911";
$icon-twitter: "\e912";
$icon-telegram: "\e913";
$icon-odnoklassniki: "\e914";
$icon-facebook: "\e915";
$icon-download: "\e90f";
$icon-watch: "\e910";
$icon-double-top: "\e90e";
$icon-traler: "\e908";
$icon-metacritic: "\e909";
$icon-tomatoes: "\e90a";
$icon-Imdb: "\e90b";
$icon-kinopoisk: "\e90c";
$icon-search: "\e907";
$icon-arrow-link-right: "\e906";
$icon-logo: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-close: "\e903";
$icon-down: "\e904";
$icon-up: "\e905";

