// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
// antialiasing mode font rendering
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin MQ($canvas) {
  @media only screen and (min-width: $canvas) {
    @content
  }
}

@mixin scrollbar-style {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
    background: transparent;
    
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 4px;
    
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: none;
  }
}