.item-cart-movie {
  .box-top {
    position: relative;
    margin-bottom: 20px;
    @media #{$small-only} {
      margin-bottom: 12px;
    }
    &:hover {
      .box-links {
        visibility: visible;
        opacity: 1;
      }
    }
    .field-img {
      a {
        display: block;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 2px 52px rgba(0, 0, 0, 0.54);
        overflow: hidden;
        @media #{$medium-mobile} {
          box-shadow: 0 2px 32px rgba(0, 0, 0, 0.54);
        }
        @media #{$small-only} {
          box-shadow: none;
        }
        img {
          width: 100%;
        }
      }
    }
    .box-rating {
      display: block;
      position: absolute;
      left: 32px;
      top: 32px;
      z-index: 1;
      @media #{$small-only} {
        top: 9px;
        left: 10px;
      }
      &:hover {
        .rating-info {
          visibility: visible;
          opacity: 0.8;
        }
      }
      .field-rating {
        display: block;
        position: relative;
        z-index: 2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(254,0,195,1);
        background: -moz-linear-gradient(left, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,0,195,1)), color-stop(100%, rgba(169,0,254,1)));
        background: -webkit-linear-gradient(left, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
        background: -o-linear-gradient(left, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
        background: -ms-linear-gradient(left, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
        background: linear-gradient(to right, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe00c3', endColorstr='#a900fe', GradientType=1 );
        box-shadow: 0 8px 19px rgba(0, 0, 0, 0.4);
        @extend %vertical;
        @media #{$small-only} {
          width: 35px;
          height: 35px;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          color: white;
          font-size: 18px;
          font-weight: 500;
          line-height: 1;
          @media #{$small-only} {
            font-size: 14px;
            padding-top: 2px;
          }
        }
      }
      .rating-info {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 6px 22px 6px 62px;
        border-radius: 25px;
        height: 50px;
        transition: all 0.1s ease 0s;
        visibility: hidden;
        opacity: 0;
        @media #{$small-only} {
          height: 35px;
          padding: 8px 12px 8px 42px;
          border-radius: 18px;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 0;
          border-radius: 25px;
          background: rgba(254,0,195,1);
          background: -moz-linear-gradient(left, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,0,195,1)), color-stop(100%, rgba(169,0,254,1)));
          background: -webkit-linear-gradient(left, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
          background: -o-linear-gradient(left, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
          background: -ms-linear-gradient(left, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
          background: linear-gradient(to right, rgba(254,0,195,1) 0%, rgba(169,0,254,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe00c3', endColorstr='#a900fe', GradientType=1 );
          @media #{$small-only} {
            border-radius: 18px;
          }
        }
        &:before {
          content: '';
          position: absolute;
          top: 1px;
          bottom: 1px;
          left: 1px;
          right: 1px;
          z-index: 1;
          border-radius: 25px;
          background-color: rgba(#011c36,1);
          @media #{$small-only} {
            border-radius: 18px;
          }
        }
        .label {
          display: block;
          color: #fff;
          font-family: $roboto;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.1;
          position: relative;
          white-space: nowrap;
          z-index: 2;
          /*padding: 0 0 0 22px;*/
          padding: 0 0 0 0;
          margin-bottom: 2px;
          @media #{$small-only} {
            display: none;
          }
          &:before {
            content: $icon-help;
            @extend .icomoon;
            color: $blue-hover;
            font-size: 14px;
            display: none;
            position: absolute;
            left: 0;
            top: 1px;
          }
        }
        .rating-fields {
          position: relative;
          display: block;
          width: 100%;
          font-size: 0;
          white-space: nowrap;
          z-index: 2;
          .item {
            position: relative;
            display: inline-block;
            padding: 0 0 0 20px;
            margin: 0 10px 0 0;
            color: #fff;
            font-family: $default;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            &:last-child {
              margin-right: 0;
            }
            > noindex {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              a {
                color: $blue-hover;
                text-decoration: none;
                transition: all 0.1s ease 0s;
                &:hover {
                  color: lighten($blue-hover,20%);
                }
                span {
                  font-size: 14px;
                  line-height: 20px;
                }
              }
            }
            &.kinopoisk {}
            &.imdb {
              padding-left: 34px;
              > noindex {
                a {
                  span {
                    font-size: 12px;
                  }
                }
              }
            }
            &.tomatoes {}
            &.metacritic {}
          }
        }
      }
    }
    .field-quality {
      display: block;
      position: absolute;
      right: -16px;
      top: 45px;
      width: 83px;
      height: 24px;
      background-color: #2dc6b2;
      border: 1px solid #2dc6b2;
      border-radius: 12px;
      box-shadow: 0 9px 27px rgba(0, 4, 23, 0.43);
      text-align: center;
      font-size: 0px;
      @extend %vertical;
      @media #{$medium-mobile} {
        right: -6px;
      }
      @media #{$small-only} {
        width: 70px;
        height: 20px;
        border-radius: 10px;
        top: 17px;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        color: #001e36;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        padding-top: 3px;
        @media #{$small-only} {
          font-size: 12px;
          padding-top: 2px;
        }
      }
      &.yellow {
        background-color: #f5c254;
        border: 1px solid #f5c254;
      }
      &.red {
        background-color: #ea354c;
        border: 1px solid #ea354c;
      }
    }
    .box-links {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      background-color: rgba(#001e36,0.7);
      bottom: 0;
      border-radius: 0 0 8px 8px;
      padding: 16px 14px;
      transition: all 0.1s ease 0s;
      visibility: hidden;
      opacity: 0;
      @media #{$small-only} {
        opacity: 1;
        visibility: visible;
        border-radius: 0;
        background: transparent;
        padding: 12px 0 0;
        right: 0;
        top: 100%;
        width: 58px;
        left: inherit;
      }
      .links {
        margin: 0 -14px;
        font-size: 0;
        text-align: center;
        @media #{$small-only} {
          margin: 0 0;
          padding: 0 0;
          display: inline-block;
        }
        li {
          display: inline-block;
          vertical-align: top;
          padding: 0 14px;
          @media #{$small-only} {
            padding: 0;
          }
          &:first-child {
            @media #{$small-only} {
              display: block!important;
            }
          }
          @media #{$small-only} {
            display: none;
          }
          .btn {
            @media #{$small-only} {
              width: 58px;
              min-width: 100%;
              padding: 0;
              height: 38px;
            }
            .help {
              @media #{$small-only} {
                font-size: 0;
              }
              > span {
                @media #{$small-only} {
                  font-size: 34px;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .box-info {
    h2 {
      margin: 0 0 6px;
      font-size: 0;
      @media #{$small-only} {
        padding-right: 66px;
      }
      a {
        display: inline-block;
        color: rgba(#fff,0.95);
        font-family: $default;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.2;
        text-decoration: none;
        transition: all 0.1s ease 0s;
        @media #{$small-only} {
          font-size: 20px;
        }
        &:hover {
          color: $blue-hover;
          text-decoration: none;
          span {
            border-bottom-color: rgba(#11b2f1,0.4);
          }
        }
        span {
          display: inline;
          border-bottom: 1px solid transparent;
        }
      }
    }
    .field-title {
      margin: 0 0 6px;
      font-size: 0;
      @media #{$small-only} {
        padding-right: 66px;
      }
      a {
        display: inline-block;
        color: rgba(#fff,0.95);
        font-family: $default;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.2;
        text-decoration: none;
        transition: all 0.1s ease 0s;
        @media #{$small-only} {
          font-size: 20px;
        }
        &:hover {
          color: $blue-hover;
          text-decoration: none;
          span {
            border-bottom-color: rgba(#11b2f1,0.4);
          }
        }
        span {
          display: inline;
          border-bottom: 1px solid transparent;
        }
      }
    }
    .field-genre {
      color: rgba(#b6cffd,0.4);
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 14px;
      @media #{$small-only} {
        font-size: 11px;
        padding-right: 66px;
      }
    }
    .field-description {
      p {
        color: rgba(#b6cffd,0.8);
        font-family: $roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 0;
        @media #{$small-only} {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  .item-gallery {
    display: none;
  }
  &.collection {
    .box-top {
      .field-img {
        margin-top: 29px;
        position: relative;
        @media #{$small-only} {
          margin-top: 12px;
        }
        &:before {
          content: '';
          opacity: 0.15;
          background-color: #dfb8ff;
          border: 1px solid white;
          box-shadow: 0 0 22px rgba(0, 0, 0, 0.15);
          display: block;
          height: 100%;
          position: absolute;
          left: 36px;
          right: 36px;
          top: -29px;
          z-index: 1;
          @media #{$small-only} {
            left: 13px;
            right: 13px;
            top: -12px;
          }
        }
        &:after {
          content: '';
          opacity: 0.2;
          background-color: #dfd1ed;
          border: 1px solid white;
          display: block;
          position: absolute;
          left: 19px;
          right: 19px;
          top: -16px;
          height: 100%;
          z-index: 2;
          @media #{$small-only} {
            left: 6px;
            right: 6px;
            top: -6px;
          }
        }
        a {
          overflow: visible;
          box-shadow: none;
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 52px;
            bottom: 0;
            box-shadow: 0 2px 52px rgba(0, 0, 0, 0.54);
            @media #{$small-only} {
              top: 30px;
            }
          }
          img {
            position: relative;
            z-index: 3;
          }
        }
      }
    }
    .box-info {
      h2 {
        a {
          sup {
            top: -.7em;
            font-size: 65%;
          }
        }
      }
    }
  }
  &.news {
    .box-top {
      .box-links {
        @media #{$small-only} {
          padding-top: 42px;
        }
      }
    }
    .box-info {
      .info-top {
        position: relative;
        padding: 0 218px 0 0;
        @media #{$small-only} {
          padding: 0 0;
        }
        .field-date {
          display: block;
          position: absolute;
          right: 0;
          top: 8px;
          padding: 0 2px 0;
          color: white;
          font-family: $roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-transform: uppercase;
          text-align: center;
          width: 188px;
          height: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;

          background: rgba(254,0,195,0.8);
          background: -moz-linear-gradient(left, rgba(254,0,195,0.8) 0%, rgba(169,0,254,0.8) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,0,195,0.8)), color-stop(100%, rgba(169,0,254,0.8)));
          background: -webkit-linear-gradient(left, rgba(254,0,195,0.8) 0%, rgba(169,0,254,0.8) 100%);
          background: -o-linear-gradient(left, rgba(254,0,195,0.8) 0%, rgba(169,0,254,0.8) 100%);
          background: -ms-linear-gradient(left, rgba(254,0,195,0.8) 0%, rgba(169,0,254,0.8) 100%);
          background: linear-gradient(to right, rgba(254,0,195,0.8) 0%, rgba(169,0,254,0.8) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe00c3', endColorstr='#a900fe', GradientType=1 );
          @media #{$small-only} {
            width: 100%;
            position: relative;
            left: inherit;
            top: inherit;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}